<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>

  <!-- Project Dropshot configurations. -->
  <Dropshot>

    <!-- Runtime configuration -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <Applications Default="Dropshot.Realtime.CommServer">
      <!-- CommServer that is going to handle chat messages and etc. -->
      <Application
        Name="Dropshot.Realtime.CommServer"
        BaseDirectory="Dropshot.Realtime.CommServer"
        Assembly="Dropshot.Realtime.CommServer"
        Type="Dropshot.Realtime.CommServer.Server"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
    </Applications>

    <UDPListeners>
      <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="Dropshot.Realtime.CommServer">
      </UDPListener>
    </UDPListeners>

  </Dropshot>

</Configuration>
