<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ApplicationWebService.ApplicationWebService" behaviorConfiguration="b">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity"  contract="ApplicationWebService.IApplicationWebServiceContract" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service name="AuthenticationWebService.AuthenticationWebService" behaviorConfiguration="b">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity"  contract="AuthenticationWebService.IAuthenticationWebServiceContract" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service name="ShopWebService.ShopWebService" behaviorConfiguration="b">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity"  contract="ShopWebService.IShopWebServiceContract" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service name="UserWebService.UserWebService" behaviorConfiguration="b">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity"  contract="UserWebService.IUserWebServiceContract" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="b">
					<serviceMetadata httpsGetEnabled="true" httpGetUrl="" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="TransportSecurity">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>